/* ---START STYLES--- */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* ---START STYLES--- */

/* ---HEADER START--- */

header {
    display: flex;
    justify-content: center;
    background-color: #111111;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    color: #fff;
    font-weight: 400;
}

nav a {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}


/* ---HEADER STOP--- */